<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static',filename = 'icon.ico') }}" type = "image/ico" sizes = "16x16">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'styles.css') }}">
    <style>
        @font-face {
            font-family: Raleway;
            src: url('{{ url_for("static",filename = "Raleway.woff") }}') }
    </style>
    <title>tell-me-everything</title>
</head>
<body>
    <div class = "container">
        <div class = "left">
            <div class = "header">
                <img src="{{ url_for('static',filename = 'icon.ico') }}" alt="." width="16px">
                <a href="https://www.github.com/ayushbasak/tell-me-everything">tell-me-everything</a>
            </div>
            <div id = "form">
                <form action="" method = "POST">
                    <p>username</p>
                    <input type="text" name="username" id="name" required>
                    <p>post</p>
                    <textarea maxlength = "{{ maxlength }}" name="post" id="post" required></textarea><br>
                    <button type = "submit" name="submit" id="submit">Post</button>
                </form>
            </div>
            <div class = "footer">
                <div>
                    <a href="/about">About</a>
                </div>
                <div>
                    made with ♥ by <a href="https://www.github.com/ayushbasak">ayushbasak</a> 
                </div>
                <div>

                </div>
                
            </div>
        </div>
        <div class = "right">
            <div class = "right-header">
                The Wall
            </div>
            <div class = "content">
                {% block content %}
                    {% for data in dataset %}
                        <div class = "items" >
                                    <p class = "post_name">{{ data.name }}</p>
                                    <p class = "post_data">{{ data.post }}</p><br>
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>